html {
    background-color: hsl(26, 15%, 81%)
}
header {
    color: blue;
}
body {
    color: rgb(91, 91, 91);
    background-color: ivory;
    font-family: 'Courier New', Courier, monospace;

}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25;
}